.airport__map {
    animation: fadeIn 1s ease-in-out;
}

.map__container {
    position: relative;
}

.map__image {
    position: relative;
}

.map__styling--sectional,
.map__styling--satellite {
    width: 100%;
    justify-content: center;
    opacity: .6;
    z-index: 1;
    transition: 0.5s
}

.map__styling--satellite {
    height: 397px;
    opacity: .7;
}

.map__styling--sectional:hover,
.map__styling--satellite:hover {
    opacity: .9;
}

.map__fade {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, #e5c2a9, rgba(255, 255, 255, 0));
    pointer-events: none;
}

/* .map__button {
    position: absolute;
    bottom: 75%;
    left: 92%;
    border-radius: 100%;
    padding: 1rem;
    color: #273439;
    background-color: #fbf9f7;
    font-size: large;
    box-shadow: 1px 1px 10px #273439;
    transition: 0.25s;
}

.map__button:hover {
    bottom: 75%;
    left: 91.5%;
    padding: 1.25rem;
    font-size: larger;
    box-shadow: 5px 5px 10px #273439;
} */

.map__button {
    position: absolute;
    bottom: 75%;
    right: 92%;
    border-radius: 100%;
    padding: 1rem;
    color: #273439;
    background-color: #fbf9f7;
    font-size: large;
    box-shadow: 1px 1px 10px #273439;
    transition: 0.25s;
}

.map__button:hover {
    bottom: 75%;
    right: 91.5%;
    padding: 1.25rem;
    font-size: larger;
    box-shadow: 5px 5px 10px #273439;
}