.searchPage__title--header {
    font-style: italic;
    font-weight: 900;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.searchPage__title--subheader {
    font-style: italic;
    font-weight: 400;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
  }

.search__bar {
    padding-top: 20vh;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    animation: fadeIn 1s ease-in-out;
}

.searchBar__wrapper {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
    animation: fadeIn 1s ease-in-out;
}

.searchBar__input--icon {
    color: royalblue;
    animation: fadeIn 1s ease-in-out;
}

.searchBar__input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
    animation: fadeIn 1s ease-in-out;
}

.searchBar__input:focus {
    outline: none;
}

.searchBar__button {
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    border-radius: 5px;
    border-color: royalblue;
    animation: fadeIn 1s ease-in-out;
}

.searchBar__button:hover {
    background-color: #eee;
}

.searchBar__button--icon {
    color: royalblue;
    animation: fadeIn 1s ease-in-out;
}

.searchBar__results {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: scroll
}

.searchBar__result {
    padding: 10px 20px;
}

.searchBar__result:hover {
    background-color: #efefef;
}
  
@keyframes fadeIn {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}