.searchPage {
    height: 92vh

}

.searchPage__title {
    margin-top: 20vh
}

.searchPage__title--header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    animation: fadeIn 1s ease-in-out;
}

.searchPage__title--subheader {
    color: #e38260;
    font-size: x-large;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    padding-left: 20%;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    animation: fadeIn 1s ease-in-out;
  }

.search__bar {
    width: 45%;
    min-width: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    animation: fadeIn 1s ease-in-out;
}

.searchBar__wrapper {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
    animation: fadeIn 1s ease-in-out;
}

.searchBar__input--icon {
    color: #e38260;
    font-size: large;
    animation: fadeIn 1s ease-in-out;
}

.searchBar__input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
    animation: fadeIn 1s ease-in-out;
}

.searchBar__input:focus {
    outline: none;
}

.searchBar__button {
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    border-radius: 5px;
    border-color: #e38260;
    animation: fadeIn 1s ease-in-out;
}

.searchBar__button:hover {
    background-color: #eee;
}

.searchBar__button--icon {
    color: #e38260;
    font-size: large;
    animation: fadeIn 1s ease-in-out;
}

.searchBar__results {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: scroll
}

.searchBar__result {
    padding: 10px 20px;
}

.searchBar__result:hover {
    background-color: #efefef;
}
